.About{
    margin-top: 3rem;
    margin-bottom: 3rem;    
}


.about{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 1rem;
    gap: 1.5rem;
}


section h2{
    font-size: 2rem;
    margin-bottom: 0rem;
}
section h5{
    margin-bottom: 2rem;
}

.content{
    display: flex;
    flex-direction: column;
}

section .img img{
    border-radius: 50%;
    width: 15rem;
    height: auto;
    object-fit: cover;
    transform: rotate(25deg);
    transition: rotate 2s ease-in-out;
}

section .img img:hover{
    transform: rotate(0deg);
}

.cards{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 2rem;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #d2d2d2;
    width: 100px;
    justify-content: center;
}
.card:hover{
    background-color: #e2e2e2;
    border: solid 1px #000;
}

.content .description{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: justify;
    text-indent: 3rem;
}

section h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


@media screen and (max-width: 600px) {
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #f2f2f2;
        border-radius: 1rem;
        gap: 1.5rem;
    }
    
}

@media screen and (min-width: 800px) {
    .card{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: #d2d2d2;
        width: 200px;
        justify-content: center;
    }
}