.About{
    margin: 6rem 3rem 3rem 3rem;
}


.about{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    gap: 1.5rem;
}


section h2{
    font-size: 2rem;
    margin-bottom: 0rem;
}
section h5{
    margin-bottom: 2rem;
}

.content{
    display: flex;
    flex-direction: column;
}

section .img img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transform: rotate(25deg);
    transition: rotate 2s ease-in-out;
}
section .me{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    background-color: yellow;
    border-radius: 0px 200px 0px 0px;
}
section .img{
    margin-right: 10rem;
    border-radius: 2rem;
    padding: 1rem;
}
section .img img:hover{
    transform: rotate(0deg);
}

.cards{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 2rem;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgb(184, 166, 9);
    width: 200px;
    border: solid transparent 1px;
    transition: all 500ms ease-in-out;
    justify-content: space-evenly;
    height: 250px;
    color: black;

}
.card:hover{
    border: solid 2px yellow;
    background: transparent;
    color: yellow;
}

.content .description{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: justify;
    text-indent: 3rem;
}

section h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 1rem;
        gap: 1.5rem;
    }
    section .img img{
        width: 285px;
        height: 285px;
    }
    section .img{
        margin-right: 0;
        border-radius: 2rem;
        padding: 1rem;
    }
    section .me{
        background-color: transparent;
    }
    
}