*{
    list-style: circle;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 1rem;
}
section img{
    border-radius: 50%;
    width: 15rem;
    height: auto;
    object-fit: cover;
    margin-bottom: 1rem;
}
section h2{
    font-size: 2rem;
    margin-bottom: 0rem;
}
section h5{
    margin-bottom: 2rem;
}
section p{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: justify;
    text-indent: 3rem;
}
section h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
ul{
    list-style-type: none;
    text-align: left;
    padding: 0%;
    margin: 0%;
}
section li{
    margin-bottom: 0.5rem;
}

#cards{
    width: 100%;
    background-color: #e2e2e2;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 2rem;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f2f2f2;
    width: 200px;
    justify-content: center;
}

.card:hover{
    background-color: #e2e2e2;
    border: solid 1px #000;
}