.Experience{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.skill{
    display: block;
    padding: 5px;
    background-color: #fff;
    border: solid 1px #888;
    width: 150px;
    height: 100px;
}