.Nav{
    background: #aaa;
    width:max-content;
    display: block;
    padding: 0.5rem 1rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

.Nav .nav{
    background: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    color: purple;
    font-size: 1.1rem;
}

.Nav .nav:hover{
    background-color: aliceblue;
}

.Nav .nav:focus{
    background-color: #aaa;
    color: black;
}