.Social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 1rem;
    bottom: 3rem;
}
.Social::after{
    content: '';
    width: 1px;
    height: 2.5rem;
    background: yellow;
}
.Social .link{
    color: yellow;
}

.Social .link :hover{
    color: white;
}
