.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.project{
    background-color: lightblue;
    padding: 1rem;
    border-radius: 2rem;
    border: solid transparent 1px;
    transition: all 350ms ease-in-out;
    margin: 1rem;
    align-self: center;
}

.project:hover{
    border-color: black;
    background: transparent;
}

.projectcta{
    display: flex;
    align-items: center;
    margin-bottom:1rem;
    justify-content:center;
}

.projectimg{
    border-radius: 50px;
    overflow: hidden;
    width: 280px;
    height: 180px;
}

.project h3{
    margin: 1rem;
}
